body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(103, 78, 78);
  color: rgb(255, 202, 202);
}

.input-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#input-todo {
  width: 300px;
  height: 30px;
  font-size: 1.5rem;
}

#add-todo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  border: none;
  background-color: rgb(250, 135, 179);
  cursor: pointer;
}

.todo-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 3, 3);
  color: rgb(255, 202, 202);
  /* border-radius: 15px; */
  font-size: 1.25rem;
}

.todo-info {
  display: flex;
  margin-left: 5px;
  gap: 5px;
}

.todo-btn {
  margin-right: 10px;
  display: flex;
  gap: 10px;
}


